body {
  background-color: #E4E6EB;
  font-family: 'Assistant', sans-serif;
  color: #071C4D;
}

// Navbar
.navbar-brand {
  img {
    max-height: 40px;
  }
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: #071C4D;

      &.active {
        font-weight: bold;
      }
    }
  }
}

.btn-navbar-right {
  margin-top: -8px !important;
  margin-bottom: -8px !important;
  margin-right: -16px !important;

  height: 66px;
  border-radius: 0;
}

.btn-login {
  background-color: #071C4D;
  color: #ffffff;

  &:hover {
    background-color: #1E3771;
    color: #ffffff;
  }
}

// header
header {
  padding: 180px 0 165px;
  margin-top: -66px;
  background-image: url('../images/header/header@2x.jpg');
  background-size: cover;

  h1,
  p {
    color: #ffffff;
  }

  h1 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 50px;
  }

  p {
    font-size: 22px;
  }

  .btn-get-started {
    background-color: #fa750f;
    color: #ffffff;

    &:hover {
      background-color: #FFAA69;
      color: #ffffff;
    }
  }
}

//Statistik
.section-stats {
  margin-top: -50px;

  .stats-detail {
    padding-top: 15px;
    padding-left: 60px;
    background-color: #ffffff;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 0;
  }

  p {
    font-size: 20px;
    font-weight: lighter;
  }
}

//Popular
.section-popular {
  min-height: 540px;
  background-color: #051334;
  margin-top: -50px;
  margin-bottom: -230px;

  .section-popular-heading {
    margin-top: 150px;

    h2,
    p {
      color: #ffffff;
    }

    h2 {
      font-family: 'Playfair Display', sans-serif;
      font-size: 40px;
      font-weight: bold;
    }

    p {
      font-size: 18px;
    }
  }

}

.section-popular-content {
  .section-popular-travel {
    .card-travel {
      min-height: 380px;
      background-color: #dddddd;
      color: #ffffff;
      padding: 30px;
      background-size: cover;
      margin-bottom: 20px;
    }

    .travel-country {
      font-size: 18px;
      color: #ffffff;
    }

    .travel-location {
      font-size: 26px;
      color: #ffffff;
    }

    .travel-button {
      .btn-travel-details {
        background-color: #fa750f;
        color: #ffffff;

        &:hover {
          background-color: #FFAA69;
          color: #ffffff;
        }
      }
    }
  }
}

.section-networks {
  background-color: #ffffff;
  margin-top: -170px;
  padding-top: 240px;
  padding-bottom: 50px;

  h2 {
    font-family: 'Playfair Display';
    font-weight: bold;
  }

  img {
    max-width: 100%;
  }
}